@import '../common/common-css-rules.scss';

.details-container {
  margin-top: 8rem;
  padding: 1rem;

  .details-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 1rem;

    img {
      width: 12.25rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .card-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.2rem 0.8rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px 0 rgba(253, 224, 224, 0.1);

    .card-body-detail {
      display: flex;
      justify-content: space-between;

      &:nth-child(even) {
        background-color: #f1f0f0;
      }

      a {
        text-decoration: none;
      }

      .card-title {
        font-size: 1.3rem;
        margin: 0.5rem;
      }
    }
  }
}
