@import '../common/common-css-rules.scss';

.home-container {
  margin-top: 0;

  .home-wrapper {
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 8rem 0 2.5rem 0;
      opacity: 0.7;
      color: $orange-color;
      font-family: $nunito-font;

      @include sm {
        font-size: 1.3rem;
      }
    }

    .crypto-desc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 3rem;

      .crypto-data {
        display: flex;
        padding: 0.5rem 0;
        gap: 1rem;
      }

      .crypto-data-card {
        background: $container-color;
        display: flex;
        padding: 1rem 0 0 1rem;
        flex-direction: column;
        width: 15rem;
        gap: 0.25rem;
        height: 10rem;
        border: 0.3px solid rgb(238, 235, 235);
        border-radius: 0.25rem;

        .crypto-data-card-title {
          margin-bottom: 0.25rem;
          color: $orange-color;
          opacity: 0.6;
        }
      }

      @include sm {
        grid-template-columns: 1fr;
      }
    }
  }

  .crypto-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;

    .search-container {
      display: flex;
      align-items: center;
      width: 45%;

      input {
        width: 100%;
        margin: 2rem 0;
        height: 2.5rem;
        outline: none;
        border: 0.3px solid gray;
        border-radius: 0.5rem 0 0 0.5rem;

        &::placeholder {
          padding: 0.25rem;
        }
      }

      .search-icon {
        background-color: whitesmoke;
        width: 2rem;
        height: 2.5rem;
        border: 0.3px solid gray;
        border-left: none;
      }

      @include sm {
        width: 100%;
      }
    }

    .crypto-container-title {
      margin: 2rem 0;
      opacity: 0.8;
      font-family: $font-roboto;
      color: $orange-color;

      @include sm {
        font-size: 1.1rem;
      }
    }

    .loading-status {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      .crypto-card {
        display: flex;
        flex-direction: column;
        height: 14rem;
        padding: 0.5rem 0.8rem;
        border: 1px solid transparent;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 3px 5px 0 rgba(253, 224, 224, 0.1);
        transition: $transition;

        &:hover {
          border-color: rgba(138, 89, 173, 0.37);
          box-shadow: 0 3px 5px 0 rgba(126, 124, 124, 0.5);
        }

        .crypto-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          .crypto-card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;

            .rank-name {
              font-size: $mb-1-5;
              font-weight: $font-medium;
              color: $orange-color;
              opacity: 0.6;
            }

            img {
              width: 2.5rem;
              border-radius: 50%;
            }
          }

          .card-body {
            margin-top: 1rem;
            display: flex;
            width: 100%;
            color: $black-color;
            flex-direction: column;
            gap: 0.625rem;

            .card-body-item {
              width: 100%;
              display: flex;
              padding: 0.25rem;
              align-items: center;
              justify-content: space-between;

              &:nth-child(odd) {
                background: rgb(250, 250, 250);
              }

              .daily-change-container {
                display: flex;
                gap: 0.25rem;

                .daily-change-negative {
                  color: red;
                }
              }

              .daily-change-positive {
                color: green;
              }

              .items {
                padding: 0.25rem 0;
              }
            }
          }
        }
      }

      @include lg {
        grid-template-columns: repeat(2, 1fr);
      }

      @include sm {
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
      }
    }

    @include lg {
      padding: 1rem 0;
    }

    @include sm {
      padding: 1rem;
    }
  }
}
